$screen-xs-min: 0;
$screen-sm-min: 600px;
$screen-md-min: 960px;
$screen-lg-min: 1264px;
$screen-xl-min: 1904px;

@mixin xs {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin media-dev-tool {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: black;
  opacity: .7;
  display: flex;
  flex-direction: row;
  * {
    vertical-align: bottom;
  }

  #xs {
    @include xs { display: block; }
    @include sm { display: none; }
  }
  #sm {
    display: none;
    @include sm { display: block; }
    @include md { display: none; }
  }
  #md {
    display: none;
    @include md { display: block; }
    @include lg { display: none; }
  }
  #lg {
    display: none;
    @include lg { display: block; }
    @include xl { display: none; }
  }
  #xl {
    display: none;
    @include xl { display: block; }
  }
}