<template>
  <v-card class="tile-card">
    <div class="currency-label">
      {{code}}
    </div>
    <div class="rate-label">
      {{rate_float | currency(code)}}
    </div>
  </v-card>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { BitcoinCurrency } from '../models';

@Component<Tile>({
  filters: {
    currency(float: number, currency: string) {
      try {
        return float.toLocaleString('en-US', { style: 'currency', currency });
      } catch (error) { // currency code unrecognized by browser
        return `${float.toLocaleString()} [${currency}]`;
      }
    },
  },
})
export default class Tile extends Vue {
  @Prop() code!: string;

  @Prop() description!: string;

  @Prop() rate_float!: number;
}

</script>
<style lang="scss" scoped>
  @import '@/styles/_breakpoints.scss';

  .tile-card {
    padding: 10px;
    display: flex;
    flex-direction: column;

    > .currency-label {
      font-size: 30px;
      @include xs { font-size: 14px; }
      @include sm { font-size: 18px; }
      @include md { font-size: 22px; }
      @include lg { font-size: 30px; }
      @include xl { font-size: 34px; }
    }

    > .rate-label {
      font-size: 46px;
      @include xs { font-size: 18px; }
      @include sm { font-size: 22px; }
      @include md { font-size: 30px; }
      @include lg { font-size: 42px; }
      @include xl { font-size: 52px; }
    }
  }
</style>
