<template>
  <v-app dark>
    <v-toolbar app class="app-toolbar" color="primary" :dense="true">
      <v-toolbar-title class="headline text-uppercase">
        <span>SPR</span>
        <span class="font-weight-light">&nbsp;Vue Examples</span>
      </v-toolbar-title>

      <v-spacer />

      <v-toolbar-items>
        <div class="nav-bar">
          <v-btn to="/" flat>Home</v-btn>
          <v-btn to="/bitcoin-price" flat>Bitcoin Price</v-btn>
          <v-btn to="/crypto-ticker" flat>Crypto Ticker</v-btn>
        </div>

        <div class="nav-menu">
          <v-menu color="deep-orange" :full-width="true">
            <template v-slot:activator="{ on }">
              <v-btn v-on="on" flat>
                <v-toolbar-title>
                  <v-icon>arrow_drop_down</v-icon>
                </v-toolbar-title>
              </v-btn>
            </template>

            <v-list>
              <v-list-tile to="/">Home</v-list-tile>
              <v-list-tile to="/bitcoin-price" flat>Bitcoin Price</v-list-tile>
              <v-list-tile to="/crypto-ticker" flat>Crypto Ticker</v-list-tile>
            </v-list>
          </v-menu>
        </div>
      </v-toolbar-items>
    </v-toolbar>

    <v-content>
      <router-view/>
    </v-content>

    <div id="media-dev-tool">
      <span id="xs">XS</span>
      <span id="sm">SM</span>
      <span id="md">MD</span>
      <span id="lg">LG</span>
      <span id="xl">XL</span>
    </div>
  </v-app>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style lang="scss">
  @import '@/styles/_breakpoints.scss';

  .nav-menu {
    height: 100%;
    @include sm { display: none; }
  }

  .nav-bar {
    height: 100%;
    display: none;
    @include sm { display: block; }
  }

  #media-dev-tool {
    @include media-dev-tool;
  }
</style>
