<template>
  <div id="home-page">
    <p>This is an SPR sample app exploring the following topics:</p>

    <v-list three-line>
      <template v-for="(topic, index) of topics">
        <v-divider
          v-if="index"
          :key="index"
          :inset="true">
        </v-divider>
        <v-list-tile :key="topic.name">
          <v-list-tile-avatar>
            <img :src="topic.avatar">
          </v-list-tile-avatar>
          <v-subheader>{{topic.name}}</v-subheader>
        </v-list-tile>
      </template>
    </v-list>
  </div>
</template>

<script lang="ts">
import { mapGetters } from 'vuex';
import { Component, Prop, Vue } from 'vue-property-decorator';

import homeStore from './store';

@Component<Home>({
  components: {
  },
  computed: {
    ...mapGetters(['topics']),
  },
  store: homeStore,
})
export default class Home extends Vue {
}
</script>

<style lang="scss">
  #home-page {
    padding: 20px;
  }
</style>
