<template>
  <div id="bitcoin-price-page">
    <img class="btc-logo" src="@/assets/btc_logo.png">

    <div class="tile-container" v-if="!isLoading && !isError">
      <Tile
        class="tile"
        v-for="currency of currencies"
        v-bind="currency"
        :key="currency.code"
      />
    </div>

    <div class="loading-container" v-if="isLoading">
      <v-progress-circular
        color="primary"
        :size="200"
        :width="20"
        indeterminate
      >
      </v-progress-circular>
    </div>

    <div class="error-container" v-if="isError">
      <v-card class="card">
        <p>Error retrieving the latest Bitcoin Price Index.</p>
        <v-btn large
          data-test="btn-try-again"
          color="error"
          @click="fetchBitcoinPrice()"
        >Try Again</v-btn>
      </v-card>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { mapGetters, mapActions } from 'vuex';

import store from './store';
import Tile from './components/Tile.vue';

@Component<BitcoinPrice>({
  components: {
    Tile,
  },
  computed: {
    ...mapGetters(['currencies', 'isLoading', 'isError']),
  },
  methods: {
    ...mapActions(['fetchBitcoinPrice']),
  },
  store,
})
export default class BitcoinPrice extends Vue {
  fetchBitcoinPrice!: () => void;

  created() {
    this.fetchBitcoinPrice();
  }
}
</script>

<style lang="scss">
  @import '@/styles/_breakpoints.scss';

  #bitcoin-price-page {
    text-align: center;
  }

  .btc-logo {
    width: 40%;
    max-width: 140px;

    @include xs { margin: 5px; }
    @include sm { margin: 20px; }
  }

  .tile-container {
    display: flex;
    align-items: center;

    @include xs { flex-direction: column; }
    @include sm { flex-direction: row; align-items: stretch; }

    > .tile {
      display: block;
      width: 100%;

      @include xs {
        margin: 3px;
      }
      @include sm {
        margin: 10px;
      }
    }
  }

  .error-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .card {
      align-self: center;
      padding: 10px;
      width: 250px;
      height: 250px;
      font-size: 22px;
    }
  }
</style>
